@font-face {
  	font-family: 'Roboto';
  	font-weight: 300;
  	src: url('/assets/fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
  	font-family: 'Roboto';
  	font-weight: 400;
  	src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
  	font-family: 'Roboto';
  	font-weight: 500;
  	src: url('/assets/fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
  	font-family: 'Roboto';
  	font-weight: 700;
  	src: url('/assets/fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
  	font-family: 'Roboto';
  	font-weight: 900;
  	src: url('/assets/fonts/Roboto/Roboto-Black.ttf');
}